<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Content</title>
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" type="text/css" href="../static/css/main.css" th:href="@{/css/main.css}">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light border">
    <span class="col-11 text-left"><strong>CMS</strong></span>
    <div class="col-1 bg-light">
        <a class="btn btn-white dropdown-toggle float-right" href="#" role="button" id="user-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-user" id="user-icon"></i>
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="#" th:href="@{/member/profile}"><i class="fa fa-user"></i> User Profile</a>
            <a class="dropdown-item" href="#" th:href="@{/logout}"><i class="fa fa-sign-out"></i> Logout</a>
        </div>
    </div>
</nav>
<div class="row">
    <div class="col-3 bg-light p-0">
        <div class="container">
            <div class="input-group pt-4 pl-3">
                <input class="form-control" type="text" placeholder="Search..." aria-label="Search" id="searchparam">
                <div class="input-group-append">
                    <button class="btn btn-secondary" type="button" id="searchbtn">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
        </div>
        <br>
        <span id="search-msg"></span>
        <ul class="nav flex-column px-3">
            <li class="nav-item border border-left-0 border-right-0">
                <a class="nav-link active" href="#" id="view-content" th:href="@{/member/content/allContent}">
                    <i class="fa fa-table"></i>
                    <span>
                        View Contents
                    </span>
                </a>
            </li>
            <li class="nav-item bg-secondary border border-left-0 border-right-0">
                <a class="nav-link" href="#" id="add-content" th:href="@{/member/content/add}">
                    <i class="fa fa-calendar"></i>
                    <span>
                        Form Content
                    </span>
                </a>
            </li>
        </ul>
    </div>
    <div class="col-9 px-4 py-4">
        <h2 class="pt-4 pb-1" style="border-bottom: 1px solid black">Add Content</h2>
        <br>
        <span id="new-error-message"></span>
        <div class="border-content">
            <div id="tag-line" class="col border border-bottom-0">
                <div class="row bg-light p-2 ">
                    Content Form Elements
                </div>
            </div>
            <br>
            <div class="container">
                <form style="padding-right: 200px">
                    <div class="form-group">
                        <label for="addtitle"><strong>Title</strong></label>
                        <input class="form-control" placeholder="Enter the title" id="addtitle" type="text">
                        <small id="title-validator" class="text-danger"></small>
                    </div>
                    <div class="form-group">
                        <label for="addbrief"><strong>Brief</strong></label>
                        <textarea class="form-control" rows="2" id="addbrief"></textarea>
                        <small id="brief-validator" class="text-danger"></small>
                    </div>
                    <div class="form-group">
                        <label for="addcomment"><strong>Comment</strong></label>
                        <textarea class="form-control" rows="5" id="addcomment"></textarea>
                        <small id="comment-validator" class="text-danger"></small>
                    </div>
                    <br>
                    <button type="button" id="new-content" class="btn btn-success">Submit Button</button>
                    <button type="reset" id="reset-current" class="btn btn-success">Reset Button</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="../static/js/jquery.js" th:src="@{/js/jquery.js}"></script>
<script src="../static/js/bootstrap.js" th:src="@{/js/bootstrap.js}"></script>
<script src="../static/js/main.js" th:src="@{/js/main.js}"></script>
</body>
</html>